<h1>New ingredient</h1>

<form id="new-ingredient" name="ingredient">
  <div class="field">
    <label for="name"> name:</label>
    <input type="text" name="name" id="name" value="<%= name %>" >
  </div>

  <div class="field">
    <label for="calorie"> calorie:</label>
    <input type="text" name="calorie" id="calorie" value="<%= calorie %>" >
  </div>

  <div class="field">
    <label for="carbonhydrates"> carbonhydrates:</label>
    <input type="text" name="carbonhydrates" id="carbonhydrates" value="<%= carbonhydrates %>" >
  </div>

  <div class="field">
    <label for="protein"> protein:</label>
    <input type="text" name="protein" id="protein" value="<%= protein %>" >
  </div>

  <div class="field">
    <label for="fat"> fat:</label>
    <input type="text" name="fat" id="fat" value="<%= fat %>" >
  </div>

  <div class="field">
    <label for="carotene"> carotene:</label>
    <input type="text" name="carotene" id="carotene" value="<%= carotene %>" >
  </div>

  <div class="field">
    <label for="vitamin_b1"> vitamin_b1:</label>
    <input type="text" name="vitamin_b1" id="vitamin_b1" value="<%= vitamin_b1 %>" >
  </div>

  <div class="field">
    <label for="vitamin_b2"> vitamin_b2:</label>
    <input type="text" name="vitamin_b2" id="vitamin_b2" value="<%= vitamin_b2 %>" >
  </div>

  <div class="field">
    <label for="vitamin_c"> vitamin_c:</label>
    <input type="text" name="vitamin_c" id="vitamin_c" value="<%= vitamin_c %>" >
  </div>

  <div class="field">
    <label for="calcium"> calcium:</label>
    <input type="text" name="calcium" id="calcium" value="<%= calcium %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Create Ingredient" />
  </div>

</form>

<a href="#/index">Back</a>