<p>
  <b>Name:</b>
  <%= name %>
</p>

<p>
  <b>Calorie:</b>
  <%= calorie %>
</p>

<p>
  <b>Carbonhydrates:</b>
  <%= carbonhydrates %>
</p>

<p>
  <b>Protein:</b>
  <%= protein %>
</p>

<p>
  <b>Fat:</b>
  <%= fat %>
</p>

<p>
  <b>Carotene:</b>
  <%= carotene %>
</p>

<p>
  <b>Vitamin b1:</b>
  <%= vitamin_b1 %>
</p>

<p>
  <b>Vitamin b2:</b>
  <%= vitamin_b2 %>
</p>

<p>
  <b>Vitamin c:</b>
  <%= vitamin_c %>
</p>

<p>
  <b>Calcium:</b>
  <%= calcium %>
</p>


<a href="#/index">Back</a>