<td><%= title %></td>
<td><%= image %></td>
<td><%= calorie %></td>
<td><%= time %></td>

<td><a href="#/<%= id %>">Show</td>
<td><a href="#/<%= id %>/edit">Edit</td>
<td><a href="#/<%= id %>/destroy" class="destroy">Destroy</a></td>