<div class="recipeDetail entity" style="background-image:url(<%=model.image%>)">
	<div class="inner">
		<h2><%= model.title %></h2>
		<div class="calorie"><%= model.calorie === 0 ? '- ' : model.calorie %>kcal</div>
		<div class="time"><%= model.time %></div>
		<div class="info">
			<ul class="recipeMaterials">
				<% for(var i=0;i<model.materials.length;i++){ %>
					<li class="<%= commodities.indexOf(model.materials[i].name) < 0 ?'yet':'already'%>"><%= model.materials[i].name %> (<%= model.materials[i].amount%>)</li>
				<% } %>
			</ul>
			<div class="recipeLink"><a href="http://erecipe.woman.excite.co.jp<%= model.url %>" target="_blank">レシピをみる</a></div>
		</div>
	</div>
</div>

