<h1>Listing ingredients</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Calorie</th>
    <th>Carbohydrates</th>
    <th>Protein</th>
    <th>Fat</th>
    <th>Carotene</th>
    <th>Vitamin b1</th>
    <th>Vitamin b2</th>
    <th>Vitamin c</th>
    <th>Calcium</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @ingredients.each do |ingredient| %>
  <tr>
    <td><%= ingredient.name %></td>
    <td><%= ingredient.calorie %></td>
    <td><%= ingredient.carbohydrates %></td>
    <td><%= ingredient.protein %></td>
    <td><%= ingredient.fat %></td>
    <td><%= ingredient.carotene %></td>
    <td><%= ingredient.vitamin_b1 %></td>
    <td><%= ingredient.vitamin_b2 %></td>
    <td><%= ingredient.vitamin_c %></td>
    <td><%= ingredient.calcium %></td>
    <td><%= link_to 'Show', ingredient %></td>
    <td><%= link_to 'Edit', edit_ingredient_path(ingredient) %></td>
    <td><%= link_to 'Destroy', ingredient, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Ingredient', new_ingredient_path %>
