<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @ingredient.name %>
</p>

<p>
  <b>Calorie:</b>
  <%= @ingredient.calorie %>
</p>

<p>
  <b>Carbohydrates:</b>
  <%= @ingredient.carbohydrates %>
</p>

<p>
  <b>Protein:</b>
  <%= @ingredient.protein %>
</p>

<p>
  <b>Fat:</b>
  <%= @ingredient.fat %>
</p>

<p>
  <b>Carotene:</b>
  <%= @ingredient.carotene %>
</p>

<p>
  <b>Vitamin b1:</b>
  <%= @ingredient.vitamin_b1 %>
</p>

<p>
  <b>Vitamin b2:</b>
  <%= @ingredient.vitamin_b2 %>
</p>

<p>
  <b>Vitamin c:</b>
  <%= @ingredient.vitamin_c %>
</p>

<p>
  <b>Calcium:</b>
  <%= @ingredient.calcium %>
</p>


<%= link_to 'Edit', edit_ingredient_path(@ingredient) %> |
<%= link_to 'Back', ingredients_path %>
