<div class="commodityDetaiil entity">
	<div class="num">
		<span class="price"><%= price %>円</span> × <span class="count"><%= count %>個</span>
	</div>
	<h2><%= name %></h2>
	<div class="info" style="display:none;">
		<div class="description"><p><%= description %></p></div>
		<ul class="commodityNutrition">
			<li>生産地：<%= producer %></li>
			<li>カロリー：<%= calorie %>kcal</li>
      <li>炭水化物：<%= carbohydrates %>g</li>
      <li>タンパク質：<%= protein %>g</li>
      <li>脂質：<%= fat %>g</li>
      <li>カロテン：<%= carotene %>μg</li>
      <li>ビタミンB1：<%= vitamin_b1 %>mg</li>
      <li>ビタミンB2：<%= vitamin_b2 %>mg</li>
      <li>ビタミンC：<%= vitamin_c %>mg</li>
      <li>カルシウム：<%= calcium %>mg</li>
		</ul>
	</div>
	<div class="control">
		<button class="expand">▼</button>
		<button class="plus">増やす</button>
		<button class="minus">減らす</button>
		<button class="remove">削除</button>
	</div>
</div>
