<h1>ヘルシー情報</h1>
<div class="detailView">
	<div class="configuration">
		<form id="configForm">
			家族の人数
			<input type="number" name="people" value="<%= people %>" min="1" id="people"/>
			×
			<input type="number" name="times" value="<%= times %>" min="1"id="times"/>食分
		</form>
	</div>
	<div class="nutritionData">
		<ul>
		<% for(var i=0;i<data.length;i++){ %>
			<li>
			<span class="name"><%= constant[data[i].nutrition].name %></span>
			<span class="percent"><%= Math.round(data[i].contain * 10000) / 100 %> %</span>
			</li>
		<% } %>
		</ul>
	</div>
</div>
<div class="summarizedView">
	<div class="advise">
		<h2><%= title %></h2>
		<%= advise %>
	</div>
</div>
