<h1>ヘルシー情報</h1>
<div class="detailView">
	<div class="configuration">
		<form id="configForm">
			家族の人数
			<span class="configValue people"><%= people %>人</span>
			×
			<span class="configValue times"><%= times %>食分</span>
			<div class="changeValues">
				<button class="peopleInclement">人数+</button>
				<button class="peopleDeclement">人数-</button>
				<button class="timesInclement">回数+</button>
				<button class="timesDeclement">回数-</button>
			</div>
		</form>
	</div>
	<div class="nutritionData">
		<ul>
		<% for(var i=0;i<data.length;i++){ %>
			<li>
			<span class="name"><%= constant[data[i].nutrition].name %></span>
			<span class="percent"><%= Math.round(data[i].contain * 10000) / 100 %> %</span>
			</li>
		<% } %>
		</ul>
	</div>
	<div class="advise box">
		<div class="adviseInner">
			<h2><%= title %></h2>
			<p><%= advise %></p>
		</div>
	</div>
</div>
<div class="summarizedView">
</div>
