<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=1024, user-scalable=no" />
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="format-detection" content="telephone=no">
  <link rel="apple-touch-icon" href="<%= asset_path 'pipit_cart.jpg' %>">
  <title>ピピっとカート</title>

</head>
<body>

<%= yield %>

</body>
</html>
