<!DOCTYPE html>
<html>
<head>
  <title>Cart</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    controller.controller_name %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag controller.controller_name %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=1024, user-scalable=no" />
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="format-detection" content="telephone=no">

</head>
<body>

<%= yield %>

</body>
</html>
